@keyframes animatedBackground {
  from {
    background-position: 0 0; }
  to {
    background-position: 20% 0; } }
@keyframes blinker {
  50% {
    opacity: 0.0; } }
html, body, #root, .game, .display-container {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 100%; }

div, p {
  font-family: inherit; }

.display-container {
  display: flex; }

.text-box {
  box-sizing: border-box;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 20px 35px; }
  .text-box p {
    line-height: 200%; }

.view-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-height: 620px;
  min-width: 820px; }

.view-container:after {
  content: "";
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(102, 229, 255, 0.5)), url("../images/sky.jpg");
  background-size: 150% 150%;
  background-position: center;
  overflow: hidden;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -ms-filter: blur(8px);
  -o-filter: blur(8px);
  filter: blur(8px);
  -webkit-filter: contrast(50%);
  -moz-filter: contrast(50%);
  -ms-filter: contrast(50%);
  -o-filter: contrast(50%);
  filter: contrast(50%);
  -webkit-filter: brightness(150%);
  -moz-filter: brightness(150%);
  -ms-filter: brightness(150%);
  -o-filter: brightness(150%);
  filter: brightness(150%);
  -webkit-filter: blur(8px) contrast(50%) brightness(150%);
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -100;
  width: 100%; }

.view {
  height: 600px;
  width: 800px;
  min-height: 600px;
  min-width: 800px;
  position: relative;
  box-shadow: 0 0 50px #000; }

.view:after {
  min-height: 600px;
  min-width: 800px;
  content: "";
  background: linear-gradient(to right, rgba(10, 10, 10, 0.6), rgba(102, 229, 255, 0.5)), url("../images/sky.jpg");
  background-size: contain;
  background-repeat: repeat-x;
  -webkit-filter: contrast(70%);
  -moz-filter: contrast(70%);
  -ms-filter: contrast(70%);
  -o-filter: contrast(70%);
  filter: contrast(70%);
  -webkit-filter: brightness(130%);
  -moz-filter: brightness(130%);
  -ms-filter: brightness(130%);
  -o-filter: brightness(130%);
  filter: brightness(130%);
  -webkit-filter: contrast(70%) brightness(130%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  animation: animatedBackground 2.5s linear infinite alternate; }

.door {
  position: absolute;
  right: 50px;
  bottom: 16px;
  background: rgba(107, 157, 174, 0.85);
  border: 4px solid rgba(215, 237, 244, 0.3);
  border-bottom: none;
  box-shadow: 3px 0 3px rgba(107, 157, 174, 0.8);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100px;
  height: 100px; }
  .door .fa {
    display: none;
    color: #444;
    animation: blinker 1.5s linear infinite;
    font-size: 35px;
    position: absolute;
    left: 32px;
    top: -40px; }

.platform {
  flex: none;
  position: relative;
  top: 95px;
  width: 200px;
  height: 16px;
  background: url("../images/brick-platform.png") repeat;
  background-size: contain; }
  .platform p {
    box-sizing: content-box;
    color: white;
    font-stretch: semi-expanded;
    background: #222;
    padding: 0 10px 3px 10px;
    border-radius: 5px; }

.player {
  z-index: 500;
  position: absolute;
  bottom: 16px;
  left: 50px;
  background: url("../images/idle.png") no-repeat;
  width: 126.87px;
  height: 111px;
  margin: 0 0 -10px -25px; }

.player.left {
  transform: scaleX(-1); }

.intro .fa {
  padding-left: 5px; }
.intro .platform {
  width: 90%;
  top: 250px; }

@keyframes wider-platform {
  from {
    width: 200px; }
  to {
    width: 400px; } }
.level1 .view {
  display: flex;
  justify-content: space-around; }
.level1 .platform {
  display: flex;
  top: 405px;
  height: 30px;
  justify-content: center;
  align-items: center;
  position: absolute; }
.level1 .platform1 {
  left: 100px; }
.level1 .platform2 {
  left: 500px; }
.level1 .platform1.animate {
  animation: wider-platform 1.5s linear;
  width: 400px; }
.level1 .player {
  bottom: 33px; }
.level1 .door {
  bottom: 30px; }
.level1 .text-editor.one {
  height: 152px; }
.level1 .text-editor.two {
  height: 208px; }
.level1 .text-editor {
  position: relative;
  padding: 10px 10px 10px 40px;
  background-color: #ddd;
  border-radius: 4px;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace; }
  .level1 .text-editor .transform-container {
    display: flex; }
    .level1 .text-editor .transform-container .input {
      height: 24px;
      display: block;
      width: calc(100% - 16px);
      height: 24px;
      margin-left: 5px;
      border: none;
      font-family: 'Source Code Pro', monospace;
      font-size: 16px;
      outline: none;
      resize: none;
      overflow: auto; }
  .level1 .text-editor .line-numbers {
    position: absolute;
    top: 0;
    left: 0;
    padding: 11px 6px;
    text-align: right;
    background-color: #999;
    color: #D5D5D5;
    line-height: 165%; }
  .level1 .text-editor pre {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    line-height: 1.62;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 900;
    margin: 0; }
  .level1 .text-editor pre.tab {
    padding-left: 15px; }
.level1 .text-box code {
  padding: 0 8px;
  background-color: rgba(150, 150, 150, 0.2);
  font-family: 'Source Code Pro', monospace;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.6);
  white-space: nowrap; }

/*# sourceMappingURL=game.css.map */
