$platform-height: 30px;
$code-color: rgba(0, 0, 0, 0.6);

@keyframes wider-platform{
  from{ width: 200px; }
  to{ width: 400px; }
}

@keyframes instructions-emerge{
  from{ opacity: 0; }
  to{ opacity: 1; }
}

.level1{
  .view{
    display: flex;
    justify-content: space-around;
  }

  .platform{
    top: 405px;
  }

  .platform1{
    left: 100px;
  }

  .platform2{
    left: 500px;
  }

  .platform1.animate{
    animation: wider-platform 1.5s linear;
    width: 400px;
  }

  .player{
    bottom: 33px;
  }

  .door{
    bottom: $platform-height;
  }

  .text-editor.one{
    height: 152px;
  }

  .text-editor.two{
    height: 208px;
  }
}
